body {background-color: #f3f3fb;
    opacity: 0.9;
    background-image: radial-gradient( ellipse farthest-corner at 6px 6px , #eff0fe, #eff0fe 50%, #f3f3fb 50%);
    background-size: 6px 6px;}
    
    .cim {color: #070718b0; /* body nak lesz az általam létrhozott 
        cím kategóriája*/
        float: none;
       /* padding: 100px; */
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 200px;}

    .szoveg1 {
        color: #070718b0;
        float: none;
         /* padding: 100px; */
         margin-left: 200px;
      }